.content__imageWrapper {
    width: 400px;
    height: 400px;
    position: relative;
}

.content__imageWrapper--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 200, 231, 0);
    transition: background-color .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
}

.content__imageWrapper:hover .content__imageWrapper--overlay {
    background-color: rgba(59, 200, 231, 0.7);
}

.content__imageWrapper:hover .content__image {
    border-radius: 10px;
}

.content__imageWrapper--overlay * {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.content__imageWrapper:hover .content__imageWrapper--overlay * {
    opacity: 1;
}

.content__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__starsWrapper {
    display: flex;
}

.content__star {
    padding: 0 3px;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.content__star:last-child {
    padding-left: 0;
}

.content__star:hover~.content__star,
.content__star:hover {
    color: yellow;
}

.content__star--active {
    color: yellow;
}

.content__albums {
    max-height: 500px;
}

.content__album {
    border-bottom: 2px solid var(--blue-primary);
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    cursor: pointer;
}

.album__title {
    padding-right: 20px;
}

.album__rating {
    padding-right: 20px;
}

.band__rating {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.band__description {
    padding: 0 10px;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
    background-color: var(--dark-sub);
    background-blend-mode: multiply;
    background-position: center;
}
.navbar {
    background: transparent;
}
