:root {
    --dark-primary: #14182A;
    --dark-sub: #1B2039;
    --blue-primary: #3BC8E7;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-main {
    background-color: var(--dark-primary);
}

.bg-sub {
    background-color: var(--dark-sub);
}

.text-custom-primary {
    color: var(--blue-primary);
}

.bg-custom-primary {
    background-color: var(--blue-primary);
}

.anim-underline::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: #fff;
    transition: width .3s ease-in-out;
}

.anim-underline:hover::after {
    width: 100%;
}

.hero {
    height: 100vh;
    background: url('../img/hero.jpg') no-repeat center;
    background-size: cover;
    -webkit-box-shadow: 0px 2px 66px 5px rgba(22, 25, 42, 1);
    -moz-box-shadow: 0px 2px 66px 5px rgba(22, 25, 42, 1);
    box-shadow: 0px 2px 66px 5px rgba(22, 25, 42, 1);
    position: relative;
}

.hero__sectionsWrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
}

.hero__leftSection {
    flex: 0 40%;
}

.hero__rightSection {
    flex: 0 55%;
    margin-left: auto;
}

.hero__header {
    font-size: 3rem;
}

.hero__topBand {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__button {
    border: 2px solid var(--blue-primary);
    transition: background .3s ease-in-out;
}

.hero__button:hover {
    background-color: var(--blue-primary);
}

.hero__footer {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    width: 100%;
}

.hero__footer__icons {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.hero__footer__mouse {
    width: 30px;
    height: 55px;
    box-shadow: inset 0 0 0 2px var(--blue-primary);
    border-radius: 25px;
    position: relative;
}


.hero__footer__mouse::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid var(--blue-primary);
    top: 8px;
    border-radius: 8px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: mouseScroll;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero__footer__icon {
    transition: color .3s ease-in-out;
}

.hero__footer__icon:hover {
    color: #fff;
}

.content {
    width: 95%;
}

.topArtists__band {
    width: 230px;
    height: 240px;
}

.band__imageWrapper {
    width: 100%;
    height: 220px;
}

.band__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section__heading {
    border-bottom: 2px solid var(--blue-primary);
    display: inline-block;
}

.bands__content {
    margin-top: 5vh;
}

.content__filters {
    flex: 0 30%;
}

.content__bands {
    flex: 0 70%;
}

.band {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    margin-bottom: 15px;
    position: relative;
}

.band__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(59, 200, 231, 0);
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
    text-align: center;
}

.band:hover .band__overlay {
    background-color: rgba(59, 200, 231, 0.7);
}

.band__overlay .band__name,
.band__overlay .band__rating {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.band:hover .band__overlay .band__name,
.band:hover .band__overlay .band__rating {
    opacity: 1;
}

.filters__searchbar {
    border: 2px solid var(--blue-primary);
    outline: none;
    padding: 5px;
    font-style: italic;
}

.filters__searchbar::placeholder {
    color: var(--blue-primary);
}

.filters__radio-wrapper {
    list-style-type: none;
    color: #fff;
    padding: 0;
}

.filters__filter:checked,
.filters__filter:not(:checked) {
    display: none;
}

.filters__filter:checked+label,
.filters__filter:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

.filters__filter:checked+label:before,
.filters__filter:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--blue-primary);
    border-radius: 100%;
    background: transparent;
}

.filters__filter:checked+label:after,
.filters__filter:not(:checked)+label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: var(--blue-primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.filters__filter:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.filters__filter:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


@keyframes mouseScroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(36px);
    }

}

/* This is code which gonna be used to make spotify-like marquees if band name gonna be too long, for now leaved as comment*/
/* .band__title {
        width: 130px;
         -moz-transform:translateX(100%);
         -webkit-transform:translateX(100%);	
         transform:translateX(100%);
         
  
         -moz-animation: example1 2s linear infinite;
         -webkit-animation: example1 2s linear infinite;
         animation: example1 2s linear infinite;
         animation-play-state:paused;
  }
  .band__title:hover {
      animation-play-state: running;
  }
        @-moz-keyframes example1 {
         0%   { -moz-transform: translateX(100%); }
         100% { -moz-transform: translateX(-100%); }
        }
        @-webkit-keyframes example1 {
         0%   { -webkit-transform: translateX(100%); }
         100% { -webkit-transform: translateX(-100%); }
        }
        @keyframes example1 {
         0%   { 
         -moz-transform: translateX(100%); 
         -webkit-transform: translateX(100%); 
         transform: translateX(100%); 		
         }
         100% { 
         -moz-transform: translateX(-100%); 
         -webkit-transform: translateX(-100%); 
         transform: translateX(-100%); 
         }
        }
       */
